@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --color-fondo: #0d131a;
    --color-tarjeta: #1a212b;
    --color-borde: #2c3644;
    --color-inca: #19f0c8;
    --color-ambar: #f5b82e;
    --color-peligro: #ff5a5f;
}
